# Node
node_modules/
dist/
.DS_Store

# Python
venv/
__pycache__/
*.pyc
.env
.pytest_cache/

# IDE
.vscode/
.idea/

# Backend specific
backend/.env
backend/venv/

# Frontend specific
frontend/node_modules/
frontend/dist/
frontend/.env
